<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crop_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1161},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1117},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,25},{41,53}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1037},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,26},{49,51}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_101_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,553},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{65,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_101_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,810},{103,93}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{32,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_102_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1188},{41,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,25},{41,53}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_102_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1090},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,26},{49,51}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_102_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,636},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{65,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_102_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,905},{87,103}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{87,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,107},{34,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_103_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,968},{77,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,19},{77,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_103_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,508},{43,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,20},{43,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_103_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,944},{91,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,1},{91,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_103_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1016},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{99,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_103_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,311},{117,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,203},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_104_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,396},{43,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,23},{43,57}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_104_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,804},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{73,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_104_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{111,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{111,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_104_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,612},{111,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{111,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_104_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{91,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1160},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_105_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1143},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,30},{49,43}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_105_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,95},{89,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{89,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_105_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,994},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,1},{99,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_105_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,843},{101,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,2},{101,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_105_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{91,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{91,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1037},{40,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_106_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,186},{69,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{69,47}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_106_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1194},{51,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,6},{51,89}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_106_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{101,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_106_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_106_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,814},{103,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{103,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1161},{30,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_107_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1251},{39,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,21},{39,59}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_107_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1035},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,19},{49,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_107_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{103,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{103,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_107_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1095},{97,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_107_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,635},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1258},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_108_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,343},{57,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,25},{57,51}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_108_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,626},{109,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{109,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_108_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,416},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_108_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{117,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_108_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,521},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,295},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_109_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1113},{35,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,30},{35,41}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_109_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,235},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{81,75}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_109_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{109,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,3},{109,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_109_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,509},{111,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{111,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_109_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1194},{91,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{91,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,157},{34,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_110_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1079},{35,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,33},{35,37}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_110_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1193},{63,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,21},{63,59}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_110_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,312},{105,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,6},{105,89}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_110_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,419},{109,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{109,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_110_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,711},{107,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{107,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,245},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,441},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,21},{65,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,883},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{77,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{143,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{143,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{151,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{139,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{139,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1117},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1161},{17,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,35},{17,31}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1232},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{47,51}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1193},{87,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,19},{87,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,416},{113,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{113,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,742},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{105,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,311},{117,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1192},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_113_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1188},{33,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,21},{33,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_113_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,915},{101,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{101,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_113_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,705},{103,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_113_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{101,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_113_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,530},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1160},{26,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_114_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1161},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,38},{29,27}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1143},{47,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,26},{47,49}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{91,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{91,67}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,105},{137,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{137,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{131,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{131,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_114_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,107},{127,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{127,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1113},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>crop_115_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1116},{19,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,30},{19,41}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1086},{25,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,18},{25,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,719},{83,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,15},{83,73}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{117,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{117,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,210},{125,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{125,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_115_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,212},{119,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{119,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{125,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{125,57}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>crop_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1258},{41,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,41},{41,19}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crop.png</string>
            <key>size</key>
            <string>{511,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a0c5fde568415c59413ad8f9837a30:dee7fd6e2eab7bbecc55c83272f3e37b:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>crop.png</string>
        </dict>
    </dict>
</plist>
