<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1930},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>blue_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1828},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1726},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1624},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_2_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1522},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1420},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1318},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1216},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1114},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1012},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_2_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1930},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>land_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,890},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,668},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,446},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,224},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1778},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1556},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_34_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1334},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1112},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,890},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,668},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,446},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,224},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_53_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1778},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_54_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1556},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_61_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1334},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_62_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1112},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_63_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,890},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,668},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_71_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,446},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_72_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,224},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_73_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_74_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_81_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_82_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_83_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_84_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_91_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_92_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_93_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_94_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_ground_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,810},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,608},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,406},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,204},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1718},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1516},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1314},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1112},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>orange_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1828},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>orange_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1726},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>orange_2_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1624},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>purple_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1522},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>purple_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1420},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>red_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1318},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>red_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1216},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>yellow_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1114},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>yellow_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1012},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>zise_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1920},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>zise_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1920},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_1.png</string>
            <key>size</key>
            <string>{2016,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0468cfe93d88879ad493399a1a00e4d8:1/1$</string>
            <key>textureFileName</key>
            <string>res_1.png</string>
        </dict>
    </dict>
</plist>
